*{
  margin-bottom: 0rem;
}

p {
  margin-bottom: 0rem;
}

#sidebar {
    width: 20%;
    transition: all 0.2s;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 24px 12px;
    border-right: solid 0.7px rgba(219, 221, 222, 0.50);
  }
  
  #sidebar.collapsed {
    width: 80px;
  }
  
  #sidebar .nav-link {
    white-space: nowrap;
  }
  
  #sidebar.collapsed .nav-link span {
    display: none;
  }
  
  #sidebar.collapsed .nav-link {
    text-align: center;
  }
  
  
  #toggle-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
  }
  
  #toggle-icon {
    font-size: 1.5rem;
  }
  
  #content {
    width: 100%;
    background-color: #F6F4F4;

  }
  header {
    padding: 10px 20px;
    border-bottom:solid 0.7px rgba(219, 221, 222, 0.50);
  }
  
  header .logo img {
    max-height: 40px;
  }
  
  header .user-info {
    display: flex;
    align-items: center;
  }
  
  header .user-info i {
    font-size: 1.5rem;
    margin-right: 8px;
  }
  
  header .user-info span {
    font-size: 1rem;
  }
  
.text-color {
    color: #202224;
    margin-left: 10px;
}

.text-color-active {
    color: white;
    margin-left: 10px;
}

.menu-active {
    background-color: red;
    border-radius: 24px;
}

.text-menu {
  margin-right: 10px;
}

.user_info {
  display: flex;
  align-items: center;
}

.user_name h5{
  font-size: 16px;
  color: #404040;
  margin-bottom: 0rem;
}

.user_name p {
  font-size: 14px;
}


.box-dashboard {
  border-radius: 30px;
  padding: 14px;
  background-color: white;
  border: solid 10px #F6F4F4;
}

.box-dashboard h3{
  color: #202224;
  font-size: 28px;
  font-weight: bold;
}

.box-dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.box-dashboard-title p{
  color: #202224;
  font-size: 16px;
  font-weight: 400;
}

.box-dashboard-details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
}

.growing-text {
  color: #00B69B;
}

.decreasing-text {
  color: #F57952;
}

.visit-text {
  color: #202224;
  font-size: 16px;
}

.visit-text span {
  color: #00B69B;
}